<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/Project 1/' %} active {% endif %}"><a href="{{ "/Project 1/" | absolute_url }}">1</a></li>
  <li class="{% if page.url contains '/Project 2/' %} active {% endif %}"><a href="{{ "/Project 2/" | absolute_url }}">2</a></li>
  <li class="{% if page.url contains '/Project 3/' %} active {% endif %}"><a href="{{ "/Project 3/" | absolute_url }}">3</a></li>
  <li class="{% if page.url contains '/Capstone/' %} active {% endif %}"><a href="{{ "/Capstone/" | absolute_url }}">Capstone</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>
</ul>
